@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    width: 1500px;
    font-family: 'Roboto';
}

li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.container{
    width: 100%;

}

header{
    width: 100%;
    height: 73.5rem;
    background: #EFF7F2;
    background-position: 100%;
    background-size: cover;
}
nav{
    width: 100%;
    background: #EFF7F2;
    height: 6.7rem;
    position: fixed;
    z-index: 10;
}

.nav-item{
    margin: 0 auto;
    height: 100%;
    width: 100rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul{
    display: flex;
    gap: 40px;
    align-items: center;
}


.nav-link{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #525560;
    transition: all .2s;
    cursor: pointer;
}
.nav-link:hover{
    color: #0B0706;
}

.nav-btn{
    background: #1D2130;
    border-radius: 4px;
    width: 116px;
    height: 43px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    cursor: pointer;
}
/* ///////////////////////////// */

.one-content {
    padding-left: 110px;
    display: flex;
    padding-top: 96px;

}

.one-content img {
    width: 72px;
    height: 5px;
    margin-right: 24px;
}

.one-text {
    padding-right: 96px;
    display: block;
    justify-content: center;
}

.one-text .p-1 {
    font-weight: 700;
font-size: 16px;
line-height: 19px;
letter-spacing: 2px;
text-transform: uppercase;
color: #1D2130;

}

.one-text .p-2 {
    font-weight: 700;
font-size: 56px;
line-height: 120%;
color: #1D2130;

}

.one-text .p-3 {
    font-weight: 400;
font-size: 16px;
line-height: 160%;
color: #1D2130;

opacity: 0.7;
}


.one-cards {
    display: block;
    justify-content: center;
}

.card {
    display: block;
    gap: 10px;
}

.card .p-1 {
    font-weight: 700;
font-size: 24px;
line-height: 160%;
color: #1D2130;
padding-bottom: 32px;

}

.one-tex {
    display: flex;
    gap: 32px;
} 
.one-tex .p-1 {
    font-weight: 400;
font-size: 16px;
line-height: 28px;
color: #1D2130;

}
.one-tex .p-2 {
    font-weight: 400;
font-size: 16px;
line-height: 28px;
color: #1D2130;
}
.one-cards img{
    width: 340px;
    height: 3px;
}

.icon {
    padding-top: 32px;
    display: flex;
    gap: 20px;
}

.icon a img {
    width: 50px;
    height: 50px;
}



/* ////////////////////////// */


.two-content {
    padding: 96px 366px;
}

.two-content .text {
    display: flex;
    gap: 10px;
}
.text .text1 .p-1 {
    font-weight: 700;
font-size: 12px;
line-height: 160%;
color: #1D2130;
padding-bottom: 20px;
opacity: 0.6;
}
.text .text1 input {
    border: #FFFFFF;
    font-weight: 400;
font-size: 16px;
line-height: 160%;
color: #1D2130;
padding-bottom: 20px;
}
.two-content .text img {
    width: 300px;
    height: 3px;
}

.ttt {
    width: 768px;
    height: 156px;
}

.two-content button {
    background: #70C174;
backdrop-filter: blur(40px);
text-align: center;
display: flex;
justify-content: center;
align-items: center;
padding: 16px 32px;
gap: 10px;
border-radius: 4px;
border: #70C174;
}

.two-content button .p-1 {
    font-weight: 500;
font-size: 16px;
line-height: 19px;
text-align: right;

color: #FFFFFF;

}