*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Ourproject{
    margin-top: 96px;
    display: flex;
gap: 24px;
margin-left: 238px;
}
#pp{
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;
/* identical to box height */

letter-spacing: 2px;
text-transform: uppercase;

/* Primary text */

color: #1D2130;
margin-top: -12px;
}
#line{
    height: 1px;
width: 72px;
left: 238px;
}
#weekly{
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 56px;
line-height: 120%;
/* or 67px */


/* Primary text */

color: #1D2130;
height: 134px;
width: 832px;
left: 334px;
top: 214px;
border-radius: nullpx;
margin-left: 334px;
margin-top: 34px;

}
#et{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 160%;
/* or 26px */


/* Secondary text */
height: 390px;
width: 832px;
left: 334px;
top: 380px;
border-radius: nullpx;

color: #525560;
margin-left: 334px;
margin-top: 32px;
}
#les{
    height: 320px;
width: 832px;
left: 334px;
top: 802px;
border-radius: 12px;
margin-left: 334px;
margin-top: 32px;

}
#some{
    margin-top: 44px;
    margin-left: 334px;
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 120%;
/* identical to box height, or 58px */


/* Primary text */

color: #1D2130;
}
#poseuere{
    height: 182px;
width: 832px;
left: 334px;
top: 1244px;
border-radius: nullpx;
margin-top: 16px;
margin-left: 334px;
line-height: 25px;

}
.cards{
    background: #EBF0F9;
    height: 436px;
width: 1440px;
left: 0px;
top: 1683.999755859375px;
border-radius: 0px;
flex-wrap: wrap;
display: flex;

}
.card1{
    width: 720px;
    height: 219px;
}
.birinchi{
    display: flex;
    gap: 25px;
}
#pla{
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 160%;
/* or 38px */


/* Primary text */

color: #1D2130;
display: inline-block;
}
#lorem{
    display: inline-block;
    height: 52px;
width: 436px;
left: 290px;
top: 1825.999755859375px;
border-radius: nullpx;
margin-top: 8px;
margin-left: 50px;

}
.margin{
padding-top: 100px;
padding-left: 240px;
}
.margin2{
    padding-top: 100px;

}

.margin5{
    padding-left: 240px;

}
#small{
    height: 26.66660499572754px;
width: 26.66670799255371px;
left: 2.66650390625px;
top: 2.6666259765625px;
border-radius: 0px;

}
.backmain{
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    width: 1440px;
}
.backmain1{
    height: 421px;
    width: 411px;
    left: 110px;
    top: 2216px;
    border-radius: 12px;
    margin-top: 96px;
    margin-bottom: 96px;
    background-image: url(./imagess/back11.png);

}
.backmain2{
    height: 421px;
    width: 411px;
    left: 110px;
    top: 2216px;
    border-radius: 12px;
    margin-top: 96px;
    margin-bottom: 96px;
    background-image: url(./imagess/back22.png);
 
}
.backmain3{
    height: 421px;
    width: 411px;
    left: 110px;
    top: 2216px;
    border-radius: 12px;
    margin-top: 96px;
    margin-bottom: 96px;
    background-image: url(./imagess/back33.png);

}
#misson{
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 28px;
line-height: 150%;
/* or 42px */
height: 84px;
width: 315px;

border-radius: nullpx;


color: #FFFFFF;
margin-left: 48px;
margin-top: 80px;
}
#ipsum{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 160%;
/* or 26px */


color: #FFFFFF;
margin-top: 16px;
margin-left: 48px;
height: 78px;
width: 315px;

top: 2396px;
border-radius: nullpx;

}
#button{
    position: absolute;
width: 132px;
height: 51px;
background: #ffffff;
border-radius: 4px;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
color: #1D2130;
margin-top: 64px;
margin-left: 48px;
border-style: none;
}
.last{
    background-image: url(./imagess/last.png);
    height: 384px;
width: 1280px;
left: 110px;
top: 2733px;
border-radius: 12px;
margin-left: 90px;
}
#you{
    height: 116px;
width: 631px;
left: 435px;
top: 2826px;
border-radius: nullpx;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 120%;
/* or 58px */

text-align: center;

color: #FFFFFF;
display: inline-block;

}
.ps{
margin-left: 325px;
padding-top: 93px;
}
.btns{
display: flex;
gap: 50px;
margin-top: 50px;
text-align: center;
}
#button1{
    
width: 200px;
height: 51px;

/* Green primary */

background: #70C174;
/* Note: backdrop-filter has minimal browser support */

border-radius: 4px;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
/* identical to box height */

color: #FFFFFF;
border-style:none;
margin-left: 466px;
}
#button2{
    
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;


/* Primary text */

color: #1D2130;
width: 116px;
height: 51px;
background: #FFFFFF;
/* Note: backdrop-filter has minimal browser support */

border-radius: 4px;
border-style:none;
}